/build/
/ProjekatVezbeZajednicki/nbproject/private/
/ProjekatVezbeKlijent/nbproject/private/
/ProjekatVezbeServer/nbproject/private/
/ProjekatVezbeZajednicki/dist/
/ProjekatVezbeZajednicki/build/
/ProjekatVezbeServer/build/
/ProjekatVezbeKlijent/build/